<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,700,400italic" rel="stylesheet" type="text/css">
              <link rel="stylesheet" type="text/css" href="https://unity3d.com/profiles/unity3d/themes/unity/css/unity/unity-reset.css?v=20190221" />
    <link rel="stylesheet" type="text/css" href="https://unity3d.com/profiles/unity3d/themes/unity/css/unity/unity-entypo-plus.css?v=20190221" />
    <link rel="stylesheet" type="text/css" href="https://unity3d.com/profiles/unity3d/themes/unity/css/unity/unity-typo.css?v=20190221" />
    <link rel="stylesheet" type="text/css" href="https://unity3d.com/profiles/unity3d/themes/unity/css/unity/unity-form.css?v=20190221" />
    <link rel="stylesheet" type="text/css" href="https://unity3d.com/profiles/unity3d/themes/unity/css/unity/unity-buttons.css?v=20190221" />
    <link rel="stylesheet" type="text/css" href="https://unity3d.com/profiles/unity3d/themes/unity/css/unity/unity-grid.css?v=20190221" />
    <link rel="stylesheet" type="text/css" href="https://unity3d.com/profiles/unity3d/themes/unity/css/unity/unity-core.css?v=20190221" />
    <link rel="stylesheet" type="text/css" href="https://unity3d.com/profiles/unity3d/themes/unity/css/unity/unity-marketing.css?v=20190221" />
    <link rel="stylesheet" type="text/css" href="https://unity3d.com/profiles/unity3d/themes/unity/css/unity/unity-helpers.css?v=20190221" />
    

    <link rel="stylesheet" href="search.css">
</head>
<body>
    <section id="main-wrapper" class="main-wrapper clear">

        <div class="main-content clear">
          <div id="content-wrapper" class="content-wrapper clear">
            <div class="g12 p15 flex-wrap">

              <div class="g12 pt0 p15 title-wrap">
                <div class="g8 nest title-rss">
                  <a href="https://blogs.unity3d.com" class="left sub-logo"><h3 class="mb0">Search <span class="b">Results</span></h3></a>
                  </a>
                  </div>

                  <div class="g4 search-wrap rel right nest">
                    <div class="">
                         <form method="get" id="searchform" action="">
                        <input type="text" value="" placeholder="Search the blog..." name="s" id="s" autosave="Unity Blog" results="5" class="field mb0" />
                        <input type="submit" value="GO" id="s-submit" class="submit mb0" />
                      </form>
                    </div>
                  </div>
                </div>



    <div class="g12 p15 pt0">
    <div id="post-81585" class="g12 nest large">

      <div class="lg-post-group">

        <div class="g5 p0">
          <!-- //image here -->
        <a href=""></a>
            <div class="lg-post-img right" style="background-image: url(https://blogs.unity3d.com/wp-content/uploads/2019/06/image1-1-640x360.jpg)"></div>
          </a>
        </div>

        <div class="g7 pb30">
          <h4 class="mb10 post-heading">
            <a href="" class="">
              Travel Agency name here
            </a>
          </h4>
          <span class="divider">•</span> <span class="c-mg">Created Date here </span>
          <p
            class="mb0 clear d-excerpt">We're excited to bring you Buried Memories Volume 2: Serekh. Concept artist Edvidge Faini transports you to a laboratory of unknown location and nefarious purpose. 

        The Unity Icon Collective strives to democratize high-end asset production. With Buried Memories, starting with ...
         <a href="" class="more">Read more<span class="ico ico-chevron-right"></span></a></p>
          <div class="list-post-details mb20">
            <div class="g12 nest mt20 cat">
              <a href="" rel="category tag">Asset Store</a></div>
          </div>
        </div>

      </div>

 
</body>
</html>