<div class="btn-group">
    <label class="btn dropdown-toggle searchify" data-toggle="dropdown">
        <input
            class="dropdown-toggle search-query"
            type="radio"
            name="type"
            value="website"
            checked="checked"
        /><span class="search-replace"
            ><i class="icon-desktop"><!--icon--></i> website</span
        >
        <span class="caret"><!--icon--></span>
    </label>
    <ul class="dropdown-menu">
        <li>
            <a href="#">
                <i class="icon icon-group"><!--icon--></i> people
            </a>
        </li>
        <li>
            <a href="#">
                <i class="icon icon-desktop"><!--icon--></i> website</a
            >
        </li>
    </ul>
</div>
